.panel {
    background: white;
    padding: 20px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    min-width: 20vh;
}

.title {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 5px;
    color: rgba(0, 128, 255, 0.9);
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.list {
    background: rgba(235, 234, 234, 0.747);
    border: rgba(235, 234, 234, 0.747) 2px solid;
    width: 40vh;
    max-height: 60vh;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    overflow-y: auto; /* Habilita el scroll vertical */
    scrollbar-width: thin; /* Ajusta el tamaño del scrollbar en Firefox */
    scrollbar-color: #46a2fd #e0e0e0; /* Color del scrollbar (borde y fondo) */
}

.checkList {
    background: #f2f2f2;
    border: rgba(235, 234, 234, 0.747) 2px solid;
    width: 50vh;
    max-height: 30vh;
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    overflow-y: auto; /* Habilita el scroll vertical */
    scrollbar-width: thin; /* Ajusta el tamaño del scrollbar en Firefox */
    scrollbar-color: #46a2fd #e0e0e0; /* Color del scrollbar (borde y fondo) */
}

.checkList input[type="checkbox"] {
    width: 10px;
    height: 20px;
    cursor: pointer;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-family:  sans-serif;
    font-weight: 500;
    background: #f2f2f2;
    color: #636262;
}

/* Estabilizador de scrollbar */
.list::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}
.list::-webkit-scrollbar-thumb {
    background-color: #46a2fd; /* Color del thumb (parte que se mueve) */
    border-radius: 4px;
}
.list::-webkit-scrollbar-track {
    background: #e0e0e0; /* Fondo del scrollbar */
}

.listItem {
    background: white;
    padding: 10px;
    border-radius: 4px;
    border: rgba(235, 234, 234, 0.747) 2px solid;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.listItem:hover {
    border-color: #28517a;
}

.list p {
    text-align: center;
    margin: 0;
}

.createBtn {
    padding: 10px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: background-color 0.2s;
}

.createBtn:hover {
    background: #28517A;
}
