.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #28517a;
  padding: 50px;
  height: 100vh;
}

.formContainer {
  background-color: white;
  padding: 50px;
  min-width: 900px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContainer h2 {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  color: rgba(0, 128, 255, 0.9);
  font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
  max-width: 800px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Espaciado entre inputs */
}

.rightColumn {
  display: flex;
  justify-content: center; /* Centra el componente en su columna */
}

.form input {
  width: 100%;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
  text-align: center;
}

.createBtn {
  grid-column: span 2;
  padding: 10px 40px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  font-weight: 600;
  cursor: pointer;
  color: white;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.2s;
}
.createBtn:hover {
  background: #28517a;
}


