.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 128, 255, 0.5);
  padding: 50px;
  border-radius: 8px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background: #f2f2f2;
}

.form button {
  background: #46a2fd;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
